/* 전체배경 */
.div_BG {
    background-color: #000;
    width: auto;
    height: 1000px;
}

.div_BG_letter {
    color: #fff;
    font-family: 'Rubik Spray Paint', cursive;
    text-align: center;
    font-size: 100px;
}

div {
    color: #fff;
    si
}